@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.test-container {
  display: flex;
  flex-direction: column;
  height: 100vh !important;
}

.test-content-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.modeler-container {
  flex: 1;
}

.properties-container {
  flex: none;
  width: 300px;
  border-left: solid 1px #cccccc;
}

.properties-container .bio-properties-panel {
  --font-family: 'IBM Plex Sans', sans-serif !important;
}