{
  "extends": [
    "plugin:bpmn-io/es6",
    "plugin:bpmn-io/jsx",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "import/first": "error",
    "import/no-amd": "error",
    "import/no-webpack-loader-syntax": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true
  }
}