.bio-properties-panel {
  --select-template-background-color: var(--add-entry-hover-background-color);
  --select-template-hover-background-color: var(--color-blue-205-100-45);
  --select-template-fill-color: var(--add-entry-hover-fill-color);
  --select-template-label-color: var(--add-entry-label-color);
}

.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button {
  padding-left: 6px;
  margin-right: 19px;

  background-color: var(--select-template-background-color);
  fill: var(--select-template-fill-color);
  border-radius: 11px;
}

.bio-properties-panel-group-header-button.bio-properties-panel-select-template-button:hover {
  background-color: var(--select-template-hover-background-color);
}

.bio-properties-panel-select-template-button .bio-properties-panel-select-template-button-label {
  padding: 4px 6px 3px 2px;
  color: var(--select-template-label-color);
}
