name: CI
on: [ push, pull_request ]
jobs:
  Build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.integration }}
    strategy:
      matrix:
        integration: [ true ]
        integration-deps:
        - diagram-js@11.9 bpmn-js@18.6.3
        - "@bpmn-io/properties-panel@3"
        include:
          - integration-deps: "" # as defined in package.json
            integration: false

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 20
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Install dependencies for integration test
      if: ${{ matrix.integration-deps != '' }}
      run: npm install ${{ matrix.integration-deps }}
    - name: Project setup
      uses: bpmn-io/actions/setup@latest
    - name: Build
      if: ${{ matrix.integration-deps != '' }}
      run: npm run all
    - name: Build with coverage
      if: ${{ matrix.integration-deps == '' }}
      env:
        COVERAGE: 1
      run: npm run all
    - name: Upload coverage
      if: ${{ matrix.integration-deps == '' }}
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
